<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="c02f4e8b-0dd3-479d-83f6-912f612d1380"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
  data-theme="auto">
</div>
<script async defer src="cusdis.com"></script>
<script>
  window.CUSDIS_LOCALE = {
    "powered_by": "Tarjoaa Cusdis",
    "post_comment": "Lähetä kommentti",
    "placeholder": "Kirjoita kommentti...",
    "email": "Sähköposti (valinnainen)",
    "nickname": "Nimimerkki",
    "reply": "Vastaa",
    "mod_badge": "Ylläpitäjä"
  }
</script>
